<div class="dis">
 <div  class="container box"> 
    <div class="model">
        <div  class=" color card " *ngFor="let pro of categoryListArray">
          <a (click)="filter(pro)">
            <span>{{pro}}</span> 
          </a>
        </div>  
</div>
<div class="box-header">
    <mat-card class="price-box-header" >
        <mat-card  class="margin price-box">
            <div >
            <mat-card-title ><span style="background-color:#ff4081;width:100%">Price Filter</span></mat-card-title>
        </div>
        </mat-card>
        <mat-slider
        (click)="filter1()"
      [(ngModel)]="rate"
      thumbLabel
      [displayWith]="formatLabel"
      [tickInterval]=tick
      [step]=step
      [min]=priceMin
      [max]=priceMaximun
      aria-label="units">
    </mat-slider><br>
        <span>{{priceMin | currency: "INR":"symbol"}}</span>
        <span class="for">to</span>
      <span >{{ rate | currency: "INR":"symbol" }}</span>
    </mat-card>
</div>
</div>
<div class="page layout">
    <div  class="row">
        <ng-container  *ngFor="let item of filterCategory ">
        <div  class="scheme card col-md-2">
            <img   src="https://bookcart.azurewebsites.net/Upload/{{item.coverFileName}}" alt=" ">
            <h5 style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">{{item.title}}</h5>
            <p><strong>{{ item.price | currency: "INR":"symbol" }}</strong></p>
            <button class="btn btn-primary">Add To cart</button>
        </div>
      </ng-container>
    </div>
    <div style="text-align:center;
    font-size: 41px;
    font-style: italic;margin-top:100px;margin-left:200px" *ngIf="filterCategory.length==0">No books Found</div>
</div>
</div>


 
 