div {
    margin-top:3px;
    margin-left:10px;   
}
.card{
    padding:11px;  
}
div.box{
width:300px;
height:400px;
}
div.dis {
    display: inline-flex;
    position: relative;
}
.color:hover{
  background-color:orangered;
  box-shadow:rgb(201, 192, 192) ;
}
.color{
    background-color: rgb(113, 153, 140);
}
mat-slider {
    width: 230px;
  }
  mat-card {
    background-color: white;
    margin-top: 15px; 
  }
  .margin {
      margin-bottom: 15px;
      background-color:#ff4081;
      box-sizing: content-box;
  }
  span {
      font-size: 20px;
  }
  .scheme:hover{
      background-color:rgb(207, 216, 216);
  }
  img{
    height: 250px ;
    width:150px;
}
.scheme{
    width: 165px;
}
.price-box-header{
    padding-left: 0;
    padding-right: 0;
    padding-top:0;
    margin-right: -34px;
    margin-left: 8px;
}
.model{
    width: 274px;
    padding: 1px;
    margin-top: 3.5ytu6tytpx;
}
.card.a{
    padding: 10px;
}
div a{
  padding: 3px;
}
mat-slider span{
    float: right;
}
span.for{
    margin-left:24px;
}